/* root */
.root {
    -fx-focus-color: #008080;   /* color principal del foco */
    -fx-faint-focus-color: #00808044; /* versión transparente del foco */
    -primary-color: #008080;
    -secondary-color: #d2e3e6;
    -border-color: #d3d3d3;
    -background-primary-color: #2f4f4f;
    -background-secondary-color: #E0E0E0; /* #F2F2F2; #E3E3E3; */
    -fx-text-fill: #1a1a1a;

}

/* App */
.app{
    -fx-background-color: -background-primary-color;
    -fx-padding: 40;
}

/*  NavSideBar */
.nav-side-bar{
    -fx-padding: 20;
    -fx-spacing: 20;
}

.nav-container{
    -fx-padding: 20;
    -fx-background-color: -background-secondary-color;
    -fx-background-radius: 15;
    -fx-alignment: center;
}

.button-pane{
    -fx-alignment: center;
    -fx-padding-top: 20;
    -fx-border-color: black;
    -fx-border-width: 0, 0, 12, 0;
    -fx-background-color: ghostwhite;
}

.button-pane:hover{
    -fx-background-color: cadetblue;
}

.button-pane.activo {
    -fx-background-color: #d2e3e6;
}

.logo{
    -fx-height: 50;
    -fx-width: 120;
}

/* boton cancelar */
.boton-cancelar{
    -fx-base: #BDBDBD;
    -fx-border-radius: 15;
}

/* boton aceptar */
.boton-aceptar{
    -fx-base: teal;
    -fx-font-weight: bold;
    -fx-text-fill: ghostwhite;
    -fx-border-radius: 15;
}

/*  ProductoCenter */
.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.productoCenter{
    -fx-background-color: -background-secondary-color;
    -fx-padding: 50, 0, 0, 0;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.productoCenter .list-view {
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.productoCenter .text-field{
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-height: 30;
}

/*  ProductoCard*/
.producto-card{
    -fx-background-color: ghostwhite;
    -fx-padding: 10, 10, 10, 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment-content: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.producto-card:hover{
    -fx-background-color: cadetblue;
}

.producto-card.producto-card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.PC-info-principal {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-spacing: 30;
}

.PC-info-principal > Label{
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.PC-info-secundaria{
    -fx-alignment: center;
    -fx-spacing: 30;
}

.PC-info-secundaria > Label{
    -fx-alignment: center;
}

.PC-button-holder {
    -fx-spacing: 10;
}

.PC-boton-editar {
    -fx-background-color: teal;
    -fx-text-fill: white;
}

.PC-boton-eliminar{
    -fx-background-color: crimson;
    -fx-text-fill: white;
}

/* Producto Form */
.productoForm{
    -fx-spacing: 10;
    -fx-padding: 10 30 10 0;
    -fx-border-radius: 15;
    -fx-border-color: -border-color;
    -fx-background-color: -background-secondary-color;
    -fx-background-radius:15;

}

.PF-pesoContainer{
    -fx-alignment-content: center;
    -fx-alignment: center;
}

/* DetalleVenta-Card*/

.detalleVenta-card{
    -fx-background-color: ghostwhite;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment-content: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.detalleVenta-card:hover{
    -fx-background-color: cadetblue;
}

.detalleVenta-card.detalleVenta-card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.DVC-botonBorrar{
    height: 40;
    width: 40;
}

/* VentaView */
.VentaView{
    -fx-padding: 0 0 0 40;
}


/* DetalleVentaForm */
.DetalleVentaForm{
    -fx-background-color: white;
    -fx-background-color: -background-secondary-color;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 15;
}

/*
.DetalleVentaForm .text-field{
    -fx-min-width: 50;
    -fx-pref-width: 250;
    -fx-max-width: 250;
}
*/

.DVF-botonAgregar{

}

.DVF-botonAgregar{

}



/* Venta center */
.venta-center{
    -fx-fill-height: false;
    -fx-background-color: white;
    -fx-background-color: -background-secondary-color;

    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 15;
}

.radio-button:selected .dot {
    -fx-background-color: -primary-color;
}

.VC-categoriaContainer{
    -fx-alignment: center;
    -fx-alignment-content: center;
    -fx-font-weight: bold;
}

.VC-ListView{
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

VC-botonHolder{

}

.VC-formaDePagoHolder{
    -fx-alignment: center;
}

.VC-radioButtonsHolder {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.VC-totalHolder{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}


