/* root */
.root {
    -fx-focus-color: #008080;   /* color principal del foco */
    -fx-faint-focus-color: #00808044; /* versión transparente del foco */
    -primary-color: white;
    -secondary-color: #d2e3e6;
    -border-color: #d3d3d3;
    -background-primary-color: white;
    -background-secondary-color: white; /* #F2F2F2; #E3E3E3; */
    -fx-text-fill: #1a1a1a;
    -fx-font-size: 18;
}

/* App */
.app{
    -fx-background-color: -background-secondary-color;
    /* -fx-background-color: #d2e3e6; */
    -fx-padding: 40;
}

/*  NavSideBar */
.nav-side-bar{
    -fx-padding: 20;
    -fx-spacing: 20;
}

.nav-container{
    -fx-padding: 20;
    -fx-background-color: -background-secondary-color;
    -fx-background-radius: 15;
    /*-fx-alignment: center;*/
}

.button-pane{
    -fx-alignment: center;
    -fx-padding-top: 20;
    -fx-border-color: black;
    -fx-background-color: ghostwhite;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-radius: 15;
}

.button-pane:hover{
    -fx-background-color: cadetblue;
}

.button-pane.activo {
    -fx-background-color: #d2e3e6;
}

.logo{
    -fx-height: 50;
    -fx-width: 120;
}

/* boton cancelar */
.boton-cancelar{
    -fx-base: #BDBDBD;
    -fx-border-radius: 15;
}

/* boton aceptar */
.boton-aceptar{
    -fx-base: teal;
    -fx-font-weight: bold;
    -fx-text-fill: ghostwhite;
    -fx-border-radius: 15;
}

/*  ProductoCenter */
.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.productoCenter{
    -fx-background-color: -background-secondary-color;
    -fx-border-radius:15;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: grey;
}

.productoCenter-contenedor{
    -fx-padding: 25;
}

.productoCenter .list-view {
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.productoCenter .text-field{
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-height: 30;
}

/*  ProductoCard*/
.producto-card{
    /*-fx-background-color: ghostwhite;*/
    -fx-padding: 10, 10, 10, 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment-content: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.producto-card > .GridPane{
    -fx-alignment: center;
}

.producto-card:hover{
    -fx-background-color: cadetblue;
}

.producto-card.producto-card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.PC-info-principal {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-spacing: 30;
}

.PC-info-principal > Label{
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.PC-info-secundaria{
    -fx-alignment: center;
    -fx-spacing: 30;
}

.PC-info-secundaria > Label{
    -fx-alignment: center;
}

.PC-button-holder {
    -fx-spacing: 10;
}

.PC-boton-editar {
    -fx-background-color: teal;
    -fx-text-fill: white;
}

.PC-boton-eliminar{
    -fx-background-color: crimson;
    -fx-text-fill: white;
}

/* Producto Form */
.productoForm{
    -fx-spacing: 10;
    -fx-padding: 25;
    -fx-border-radius: 15;
    -fx-border-color: -border-color;
    -fx-background-color: -background-secondary-color;
    -fx-background-radius:15;
}

.productoForm-titulo{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.productoForm-tituloHolder{
    -fx-padding: 0 0 25 25;
    -fx-alignment: center;
}

.PF-pesoContainer{
    -fx-alignment-content: center;
    -fx-alignment: center;
}

/* DetalleVenta-Card*/

.detalleVenta-card{
    -fx-background-color: ghostwhite;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment-content: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.detalleVenta-card:hover{
    -fx-background-color: cadetblue;
}

.detalleVenta-card.detalleVenta-card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.DVC-botonBorrar{
    height: 40;
    width: 40;
}

/* VentaView */
.VentaView{
    -fx-padding: 0 0 0 40;
}


/* DetalleVentaForm */
.DetalleVentaForm{
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-background-color: -background-secondary-color;
}

/* VentaView */
.VentaView{
    -fx-border-width: 1;
    -fx-border-color: grey;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-border-radius: 15;
    -fx-background-color: -background-primary-color;
}

.VentaView-titulo{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}
.VentaView-tituloHolder{
    -fx-padding: 0 0 25 25;
    -fx-alignment: center;
}

/* Venta center */
.venta-center{
    -fx-fill-height: false;
    -fx-border-width: 1;
    -fx-border-color: grey;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-border-radius: 15;
    -fx-background-color: -background-secondary-color;
}

.radio-button:selected .dot {
    -fx-background-color: teal;
}

.VC-categoriaContainer{
    -fx-alignment: center;
    -fx-alignment-content: center;
    -fx-font-weight: bold;
}

.VC-ListView{
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

VC-botonHolder{

}

.VC-formaDePagoHolder{
    -fx-alignment: center;
}

.VC-radioButtonsHolder {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.VC-totalHolder{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

/* Gasto Card */
.gasto-card{
    -fx-background-color: ghostwhite;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.gasto-card:hover{
    -fx-background-color: cadetblue;
}

.gasto-card.gasto-card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.GC-tituloHolder{
    -fx-alignment: center;
}

.GC-titulo{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.GC-contentHolder{
    -fx-alignment: center;
}

/* GastoForm */
.gastoForm {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fill-width: false;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 25;

}


.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro semi-transparente */
    -fx-alignment: center;
    -fx-padding: 40; /* opcional: deja aire alrededor del form */
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}


.ProveedorForm{
    -fx-background-color: white;
    -fx-padding: 25;
    -fx-spacing: 15;
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-background-radius: 15;
}

/* Gasto Center */
.gastoCenter {
    -fx-padding: 0, 0, 0, 10;
    -fx-border-radius: 15;
    -fx-border-color: gray;
    -fx-border-width: 1;
}

.GCenter-botonAgregar {
    -fx-background-color: teal;
    -fx-background-radius: 50%;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-border-radius: 50%;
}

.GCenter-botonHolder {
    -fx-padding: 10;
}

.gastoCenter-contenedor{
    -fx-padding: 25;
    -fx-spacing: 10;
}

/* PagoForm */
.pagoForm {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-fill-width: false;
    -fx-alignment: center;
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 15;
    -fx-padding: 25;
    -fx-spacing: 15;
}

.PF-tituloHolder{
    -fx-alignment: center;
}

.PF-titulo{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.label-titulo{
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.pagoForm-tituloHolder{

}

.PF-gastoInfo{
    -fx-border-radius: 15;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-padding: 25;
}

/* card */
.card{
    -fx-background-color: ghostwhite;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius:15;
    -fx-background-radius: 15;
}

.card:hover{
    -fx-background-color: cadetblue;
}

.card.card-seleccionado {
    -fx-background-color: #8fbbbd;
}

.card-titulo{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.card-content{
    -fx-alignment: center;
}

/* DASHBOARD */
.dashboardCenter{
    -fx-border-radius: 15;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-radius: 15;
}

.dashboardCenter-Contenedor{
    -fx-padding: 25;
}

.dashboardCenter-titulo{
    -fx-font-weight: bold;
    -fx-font-size: 25;
}
.dashboardCenter-tituloHolder{
    -fx-padding: 0 0 25 25;
    -fx-alignment: center;
}

.dashboardCenter-balanceHolder{
    -fx-border-radius: 15;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-padding: 25;
}

.dashboardCenter-cuentasGrid{
    -fx-border-radius: 15;
    /*-fx-border-color: grey;*/
    /*-fx-border-width: 1;*/
    -fx-background-radius: 15;
    -fx-padding: 25;
}

.balanceCard{
    /*-fx-background-color: #8fbbbd;*/
    -fx-border-radius: 15;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.dashboardCenter-listViewBox{
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: -background-secondary-color;   /*#fafafa;*/
}

.dashboardCenter-listViewBox .list-view{
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: -background-secondary-color;   /*#fafafa;*/
    -fx-padding: 4;
}

.tituloHolder{
    -fx-alignment: center;
}

.exportarDatosForm{
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: -background-secondary-color;
    -fx-padding: 30;
    -fx-spacing: 15;
}